.hide-desktop {display: none;}
img {max-width:100%}
/*--------------RESPONSIVE CSS ----------------*/
@media screen and (max-width:1366px) {
    
}/****1366px****/

@media screen and (max-width:1024px) {
    
}/****1024px****/

@media screen and (max-width:940px) {
    
        
}/****940px****/

@media screen and (max-width:940px) and (orientation: landscape) {
   
}/****940px LANDSCAPE****/

@media screen and (max-width:768px) {
  
}/****768px****/

@media screen and (max-width:640px) {
    .splide__arrow  {display:none;}
    .splide__slide  img {width:52vw}
    .splide { margin-right: -1rem;}
}/****640px****/